@red: hsl(0, 78%, 62%);
@berry: hsl(0, 59%, 39%);
@cyan: hsl(180, 62%, 55%);
@orange: hsl(34, 97%, 64%);
@blue: hsl(212, 86%, 64%);
@varyDarkBlue: hsl(234, 12%, 34%);
@grayishBlue: hsl(229, 6%, 66%);
@veryLightGray: hsl(0, 0%, 98%);

body {
  background-color: @veryLightGray;
}

.card-header {
  display: flex;
  align-items: center;
  span {
    padding-left: 5px;
  }
}

.social-github-icon::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 1em;
  height: 1em;
  background-size: cover;
  background-image: url('../assets/images/social_github_icon.png');
}
